
.prod-image{

    height: 250px;
    padding: 10px 10px 0px 10px;
    object-fit: contain

}

.text_cover{
    color: white;
}

.header_estilo{
    background-color: rgb(90, 109, 110) !important;
    color: white !important;

}

.footer_estilo{
    background-color: rgb(44, 56, 56)important;
    color: white !important;

}